%card {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: #ffffff;

  text-align: center;
  padding: 1rem;
  
  img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: solid 0.5rem #10072b;
    border-radius: 1rem;
  }
}

.card {
  @extend %card;
}
.singleCard {
  @extend %card;
}

@media (min-width: 768px) {
  %card img:hover {
    width: 120%;
    max-width: 20rem;
    cursor: pointer;
    animation-name: cardHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes cardHover {
    0% {
      width: 15rem;
      border-color: #10072b;
    }
    100% {
      width: 25rem;
      border-color: #210f57;
    }
  }
  .card img:hover {
    position: absolute;
  }

  .singleCard img:hover {
    position: relative;
  }
}

