.cardDetails {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding:1rem;
  color: #ffffff;
  background-color: #130933;
  border:solid 0.1rem #000000;
  h2 {
    font-size: 2rem;
  }
  span {
    font-weight: bold;
  }
}

.flavor {
  font-size: 1rem;
  font-style: italic;
}
@media (min-width: 1024px){
  .cardDetails{
    width:50%;
  }
}
