.cardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
.noResults {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  animation-name: results;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes results {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
