.classificationSelect{
    width:100%;
    padding:0.5rem 0.2rem;
    border-radius: 0.2rem;
    border: solid 0.05rem #343434;
    border-radius: 0.5rem;
    background-color: #1b1e29;
    color: #ffffff;
  }
  .classificationSelect:focus {
      outline: none;
      border: solid 0.05rem rgb(0, 0, 148);
    }
    
    