@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
body {
  display: flex;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif    ;
  background-color: #10072b;
}
